### AGGREGATED INSURANCE

In [19]:
import os
import pandas as pd
import json

# Define the base directory
base_dir = r"C:\Users\hi\Downloads\Phone Pe project\pulse-master\data\aggregated\insurance\country\india\state"
# Initialize an empty list to store the data
data = []

# Traverse the directory structure
for state_folder in os.listdir(base_dir):
    # Replace '-' with ' ' and '&' with 'and' in the state name, and capitalize the first letter
    state_name = state_folder.replace('-', ' ').replace('&', 'and').title()
    
    state_path = os.path.join(base_dir, state_folder)
    if os.path.isdir(state_path):
        for year_folder in os.listdir(state_path):
            year_path = os.path.join(state_path, year_folder)
            if os.path.isdir(year_path):
                for quarter_file in os.listdir(year_path):
                    if quarter_file.endswith('.json'):
                        quarter = quarter_file.split('.')[0]
                        json_path = os.path.join(year_path, quarter_file)
                        with open(json_path, 'r') as file:
                            json_data = json.load(file)
                            # Ensure 'data' and 'transactionData' keys are present
                            if 'data' in json_data and 'transactionData' in json_data['data']:
                                transaction_data_list = json_data['data']['transactionData']
                                for data_item in transaction_data_list:
                                    transaction_type = data_item['name']
                                    for payment_instrument in data_item['paymentInstruments']:
                                        count = payment_instrument['count']
                                        amount = payment_instrument['amount']
                                        data.append([state_name, year_folder, quarter, transaction_type, count, amount])

# Convert the list to a DataFrame
df1 = pd.DataFrame(data, columns=[
    'State', 'Year', 'Quarter', 'Transaction_Type', 'Transaction_Count', 'Transaction_Amount'
])

# Save DataFrame to CSV
df1.to_csv('Aggregate Insurance.csv', index=False)

In [20]:
df1.head()

,State,Year,Quarter,Transaction_Type,Transaction_Count,Transaction_Amount
0,Andaman And Nicobar Islands,2020,2,Insurance,6,1360.0
1,Andaman And Nicobar Islands,2020,3,Insurance,41,15380.0
2,Andaman And Nicobar Islands,2020,4,Insurance,124,157975.0
3,Andaman And Nicobar Islands,2021,1,Insurance,225,244266.0
4,Andaman And Nicobar Islands,2021,2,Insurance,137,181504.0

### AGGREGATED TRANSACTION

In [21]:
import os
import pandas as pd
import json

# Define the base directory
base_dir = r"C:\Users\hi\Downloads\Phone Pe project\pulse-master\data\aggregated\transaction\country\india\state"
# Initialize an empty list to store the data
data = []

# Traverse the directory structure
for state_folder in os.listdir(base_dir):
    # Replace '-' with ' ' and '&' with 'and' in the state name, and capitalize the first letter
    state_name = state_folder.replace('-', ' ').replace('&', 'and').title()
    
    state_path = os.path.join(base_dir, state_folder)
    if os.path.isdir(state_path):
        for year_folder in os.listdir(state_path):
            year_path = os.path.join(state_path, year_folder)
            if os.path.isdir(year_path):
                for quarter_file in os.listdir(year_path):
                    if quarter_file.endswith('.json'):
                        quarter = quarter_file.split('.')[0]
                        json_path = os.path.join(year_path, quarter_file)
                        with open(json_path, 'r') as file:
                            json_data = json.load(file)
                            # Ensure 'data' and 'transactionData' keys are present
                            if 'data' in json_data and 'transactionData' in json_data['data']:
                                transaction_data_list = json_data['data']['transactionData']
                                for data_item in transaction_data_list:
                                    transaction_type = data_item['name']
                                    for payment_instrument in data_item['paymentInstruments']:
                                        count = payment_instrument['count']
                                        amount = payment_instrument['amount']
                                        # Append the processed state_name instead of state_folder
                                        data.append([state_name, year_folder, quarter, transaction_type, count, amount])

# Convert the list to a DataFrame
df2 = pd.DataFrame(data, columns=['State', 'Year', 'Quarter', 'Transaction_type', 'Transaction_count', 'Transaction_amount'])

# Save DataFrame to CSV
df2.to_csv('Aggregate Transaction.csv', index=False)

In [22]:
df2.head()

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman And Nicobar Islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman And Nicobar Islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman And Nicobar Islands,2018,1,Merchant payments,298,4.525072e+05
3,Andaman And Nicobar Islands,2018,1,Financial Services,33,1.060142e+04
4,Andaman And Nicobar Islands,2018,1,Others,256,1.846899e+05

### * AGGREGATED USER ( 2018 - 2022 )

In [23]:
import os
import pandas as pd
import json

# Define the base directory
base_dir = r"C:\Users\hi\Downloads\Phone Pe project\pulse-master\data\aggregated\user\country\india\state"

# Initialize an empty list to store the data
data = []

# Traverse the directory structure
for state_folder in os.listdir(base_dir):
    # Replace '-' with ' ' and '&' with 'and' in the state name, and capitalize the first letter
    state_name = state_folder.replace('-', ' ').replace('&', 'and').title()
       
    state_path = os.path.join(base_dir, state_folder)
    if os.path.isdir(state_path):
        for year_folder in os.listdir(state_path):
            year_path = os.path.join(state_path, year_folder)
            if os.path.isdir(year_path):
                for quarter_file in os.listdir(year_path):
                    if quarter_file.endswith('.json'):
                        quarter = quarter_file.split('.')[0]
                        json_path = os.path.join(year_path, quarter_file)
                        with open(json_path, 'r') as file:
                            json_data = json.load(file)
                            # Ensure 'data' and 'usersByDevice' keys are present and not None
                            if ('data' in json_data and 
                                'usersByDevice' in json_data['data'] and 
                                json_data['data']['usersByDevice'] is not None):
                                
                                users_by_device = json_data['data']['usersByDevice']
                                for device in users_by_device:
                                    brand = device['brand']
                                    count = device['count']
                                    percentage = device['percentage']
                                    data.append([state_name, year_folder, quarter, brand, count, percentage])

# Convert the list to a DataFrame
df3 = pd.DataFrame(data, columns=['State', 'Year', 'Quarter', 'Brand', 'Transaction_count', 'Percentage'])

# Save DataFrame to CSV
df3.to_csv('Aggregate User.csv', index=False)

In [24]:
df3.head()

,State,Year,Quarter,Brand,Transaction_count,Percentage
0,Andaman And Nicobar Islands,2018,1,Xiaomi,1665,0.247033
1,Andaman And Nicobar Islands,2018,1,Samsung,1445,0.214392
2,Andaman And Nicobar Islands,2018,1,Vivo,982,0.145697
3,Andaman And Nicobar Islands,2018,1,Oppo,501,0.074332
4,Andaman And Nicobar Islands,2018,1,OnePlus,332,0.049258

### MAP TANSACTION

In [25]:
import os
import pandas as pd
import json

# Define the base directory
base_dir = r"C:\Users\hi\Downloads\Phone Pe project\pulse-master\data\map\transaction\hover\country\india\state"

# Initialize an empty list to store the data
data = []

# Traverse the directory structure
for state_folder in os.listdir(base_dir):
    # Replace '-' with ' ' and '&' with 'and' in the state name, and capitalize the first letter
    state_name = state_folder.replace('-', ' ').replace('&', 'and').title()

    state_path = os.path.join(base_dir, state_folder)
    if os.path.isdir(state_path):
        for year_folder in os.listdir(state_path):
            year_path = os.path.join(state_path, year_folder)
            if os.path.isdir(year_path):
                for quarter_file in os.listdir(year_path):
                    if quarter_file.endswith('.json'):
                        quarter = quarter_file.split('.')[0]
                        json_path = os.path.join(year_path, quarter_file)
                        with open(json_path, 'r') as file:
                            json_data = json.load(file)
                            hover_data_list = json_data['data']['hoverDataList']
                            for data_item in hover_data_list:
                                district_name = data_item['name']
                                count = data_item['metric'][0]['count']
                                amount = data_item['metric'][0]['amount']
                                data.append([state_name, year_folder, quarter, district_name, count, amount])

# Convert the list to a DataFrame
df4 = pd.DataFrame(data, columns=['State', 'Year', 'Quarter', 'District', 'Transaction_count', 'Transaction_amount'])

# Save DataFrame to CSV
df4.to_csv('Map Transaction.csv', index=False)

In [26]:
df4.head()

,State,Year,Quarter,District,Transaction_count,Transaction_amount
0,Andaman And Nicobar Islands,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman And Nicobar Islands,2018,1,south andaman district,5688,1.256025e+07
2,Andaman And Nicobar Islands,2018,1,nicobars district,528,1.139849e+06
3,Andaman And Nicobar Islands,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman And Nicobar Islands,2018,2,south andaman district,9395,2.394824e+07

### MAP USER

In [27]:
import os
import pandas as pd
import json

# Define the base directory
base_dir = r"C:\Users\hi\Downloads\Phone Pe project\pulse-master\data\map\user\hover\country\india\state"

# Initialize an empty list to store the data
data = []

# Traverse the directory structure
for state_folder in os.listdir(base_dir):
    # Replace '-' with ' ' and '&' with 'and' in the state name, and capitalize the first letter
    state_name = state_folder.replace('-', ' ').replace('&', 'and').title()

    state_path = os.path.join(base_dir, state_folder)
    if os.path.isdir(state_path):
        for year_folder in os.listdir(state_path):
            year_path = os.path.join(state_path, year_folder)
            if os.path.isdir(year_path):
                for quarter_file in os.listdir(year_path):
                    if quarter_file.endswith('.json'):
                        quarter = quarter_file.split('.')[0]
                        json_path = os.path.join(year_path, quarter_file)
                        with open(json_path, 'r') as file:
                            json_data = json.load(file)
                            hover_data = json_data['data']['hoverData']
                            for district_name, metrics in hover_data.items():
                                registered_users = metrics['registeredUsers']
                                app_opens = metrics['appOpens']
                                data.append([state_name, year_folder, quarter, district_name, registered_users, app_opens])

# Convert the list to a DataFrame
df5 = pd.DataFrame(data, columns=['State', 'Year', 'Quarter', 'District', 'Registered_users', 'App_opens'])

# Save DataFrame to CSV
df5.to_csv('Map User.csv', index=False)

In [28]:
df5.head()

,State,Year,Quarter,District,Registered_users,App_opens
0,Andaman And Nicobar Islands,2018,1,north and middle andaman district,632,0
1,Andaman And Nicobar Islands,2018,1,south andaman district,5846,0
2,Andaman And Nicobar Islands,2018,1,nicobars district,262,0
3,Andaman And Nicobar Islands,2018,2,north and middle andaman district,911,0
4,Andaman And Nicobar Islands,2018,2,south andaman district,8143,0

### TOP TRANSACTION DISTRICT

In [29]:
import os
import pandas as pd
import json

# Define the base directory
base_dir = r"C:\Users\hi\Downloads\Phone Pe project\pulse-master\data\top\transaction\country\india\state"

# Initialize an empty list to store the data
data = []

# Traverse the directory structure
for state_folder in os.listdir(base_dir):
    # Replace '-' with ' ' and '&' with 'and' in the state name, and capitalize the first letter
    state_name = state_folder.replace('-', ' ').replace('&', 'and').title()

    state_path = os.path.join(base_dir, state_folder)
    if os.path.isdir(state_path):
        for year_folder in os.listdir(state_path):
            year_path = os.path.join(state_path, year_folder)
            if os.path.isdir(year_path):
                for quarter_file in os.listdir(year_path):
                    if quarter_file.endswith('.json'):
                        quarter = quarter_file.split('.')[0]
                        json_path = os.path.join(year_path, quarter_file)
                        with open(json_path, 'r') as file:
                            json_data = json.load(file)
                            districts = json_data['data']['districts']
                            for district in districts:
                                entity_name = district['entityName']
                                count = district['metric']['count']
                                amount = district['metric']['amount']
                                data.append([state_name, year_folder, quarter, entity_name, count, amount])

# Convert the list to a DataFrame
df6 = pd.DataFrame(data, columns=['State', 'Year', 'Quarter', 'District', 'Count', 'Amount'])

# Save DataFrame to CSV
df6.to_csv('Top Transaction Districts.csv', index=False)

In [30]:
df6.head()

,State,Year,Quarter,District,Count,Amount
0,Andaman And Nicobar Islands,2018,1,south andaman,5688,1.256025e+07
1,Andaman And Nicobar Islands,2018,1,nicobars,528,1.139849e+06
2,Andaman And Nicobar Islands,2018,1,north and middle andaman,442,9.316631e+05
3,Andaman And Nicobar Islands,2018,2,south andaman,9395,2.394824e+07
4,Andaman And Nicobar Islands,2018,2,nicobars,1120,3.072437e+06

### TOP TRANSACTION PINCODE

In [31]:
import os
import pandas as pd
import json

# Define the base directory
base_dir = r"C:\Users\hi\Downloads\Phone Pe project\pulse-master\data\top\transaction\country\india\state"

# Initialize an empty list to store the data
data = []

# Traverse the directory structure
for state_folder in os.listdir(base_dir):
    # Replace '-' with ' ' and '&' with 'and' in the state name, and capitalize the first letter
    state_name = state_folder.replace('-', ' ').replace('&', 'and').title()
    
    state_path = os.path.join(base_dir, state_folder)
    if os.path.isdir(state_path):
        for year_folder in os.listdir(state_path):
            year_path = os.path.join(state_path, year_folder)
            if os.path.isdir(year_path):
                for quarter_file in os.listdir(year_path):
                    if quarter_file.endswith('.json'):
                        quarter = quarter_file.split('.')[0]
                        json_path = os.path.join(year_path, quarter_file)
                        with open(json_path, 'r') as file:
                            json_data = json.load(file)
                            pincodes = json_data['data']['pincodes']
                            for pincode in pincodes:
                                entity_name = pincode['entityName']
                                count = pincode['metric']['count']
                                amount = pincode['metric']['amount']
                                data.append([state_name, year_folder, quarter, entity_name, count, amount])

# Convert the list to a DataFrame
df7 = pd.DataFrame(data, columns=['State', 'Year', 'Quarter', 'Pincode', 'Count', 'Amount'])

# Save DataFrame to CSV
df7.to_csv('Top Transaction Pincode.csv', index=False)

In [32]:
df7.head()

                         State  Year Quarter Pincode  Count        Amount
0  Andaman And Nicobar Islands  2018       1  744101   1622  2.769298e+06
1  Andaman And Nicobar Islands  2018       1  744103   1223  2.238042e+06
2  Andaman And Nicobar Islands  2018       1  744102    969  3.519060e+06
3  Andaman And Nicobar Islands  2018       1  744105    685  1.298561e+06
4  Andaman And Nicobar Islands  2018       1  744104    340  1.039715e+06

### TOP USER DISTRICT

In [33]:
import os
import pandas as pd
import json

# Define the base directory
base_dir = r"C:\Users\hi\Downloads\Phone Pe project\pulse-master\data\top\user\country\india\state"

# Initialize an empty list to store the data
data = []

# Traverse the directory structure
for state_folder in os.listdir(base_dir):
    # Replace '-' with ' ' and '&' with 'and' in the state name, and capitalize the first letter
    state_name = state_folder.replace('-', ' ').replace('&', 'and').title()

    
    state_path = os.path.join(base_dir, state_folder)
    if os.path.isdir(state_path):
        for year_folder in os.listdir(state_path):
            year_path = os.path.join(state_path, year_folder)
            if os.path.isdir(year_path):
                for quarter_file in os.listdir(year_path):
                    if quarter_file.endswith('.json'):
                        quarter = quarter_file.split('.')[0]
                        json_path = os.path.join(year_path, quarter_file)
                        with open(json_path, 'r') as file:
                            json_data = json.load(file)
                            districts = json_data['data']['districts']
                            for district in districts:
                                district_name = district['name']
                                registered_users = district['registeredUsers']
                                data.append([state_name, year_folder, quarter, district_name, registered_users])

# Convert the list to a DataFrame
df8 = pd.DataFrame(data, columns=['State', 'Year', 'Quarter', 'District', 'Registered_users'])

# Save DataFrame to CSV
df8.to_csv('Top User District.csv', index=False)

In [34]:
df8.head()

,State,Year,Quarter,District,Registered_users
0,Andaman And Nicobar Islands,2018,1,south andaman,5846
1,Andaman And Nicobar Islands,2018,1,north and middle andaman,632
2,Andaman And Nicobar Islands,2018,1,nicobars,262
3,Andaman And Nicobar Islands,2018,2,south andaman,8143
4,Andaman And Nicobar Islands,2018,2,north and middle andaman,911

### TOP USER PINCODE

In [35]:
import os
import pandas as pd
import json

# Define the base directory
base_dir = r"C:\Users\hi\Downloads\Phone Pe project\pulse-master\data\top\user\country\india\state"

# Initialize an empty list to store the data
data = []

# Traverse the directory structure
for state_folder in os.listdir(base_dir):
    # Replace '-' with ' ' and '&' with 'and' in the state name, and capitalize the first letter
    state_name = state_folder.replace('-', ' ').replace('&', 'and').title()

    state_path = os.path.join(base_dir, state_folder)
    if os.path.isdir(state_path):
        for year_folder in os.listdir(state_path):
            year_path = os.path.join(state_path, year_folder)
            if os.path.isdir(year_path):
                for quarter_file in os.listdir(year_path):
                    if quarter_file.endswith('.json'):
                        quarter = quarter_file.split('.')[0]
                        json_path = os.path.join(year_path, quarter_file)
                        with open(json_path, 'r') as file:
                            json_data = json.load(file)
                            pincodes = json_data['data']['pincodes']
                            for pincode in pincodes:
                                pincode_name = pincode['name']
                                registered_users = pincode['registeredUsers']
                                data.append([state_name, year_folder, quarter, pincode_name, registered_users])

# Convert the list to a DataFrame
df9 = pd.DataFrame(data, columns=['State', 'Year', 'Quarter', 'Pincode', 'Registered_Users'])

# Save DataFrame to CSV
df9.to_csv('Top User Pincode.csv', index=False)

In [36]:
df9.head()

                         State  Year Quarter Pincode  Registered_Users
0  Andaman And Nicobar Islands  2018       1  744103              1608
1  Andaman And Nicobar Islands  2018       1  744101              1108
2  Andaman And Nicobar Islands  2018       1  744105              1075
3  Andaman And Nicobar Islands  2018       1  744102              1006
4  Andaman And Nicobar Islands  2018       1  744104               272